@media screen and (max-width:960px ){

}


body {
	margin:0px;
	background: ivory;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	height:100px;
}

.container {
	width: 960px;
	overflow: hidden;
	padding-bottom: 30px;
	border: 3px solid wheat;
	margin: 0 auto 0 auto;
	border-radius: 10px;
	background-color: white;
}

.webpage-title {
	text-align: center;
	color: saddlebrown;
	font-size: 32px;
	font-family: 'Lobster', cursive, sans-serif;
	margin-bottom: 8px;
}

.webpage-aside {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 8px;
	color: burlywood;
}

.image-h1 {
	width: 940px;
	height: 100px;
}

.nav-menu {
	border-top: 1px solid #EEECE5;
	border-bottom: 1px solid #EEECE5;
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 80%;
	margin: 0px auto;
}

.menu-item {
	display: inline-block;
	margin: 10px;
	padding: 5px;
	text-transform: capitalize;
	position: relative;
}

.menu-item:after {
	content: '-';
	position: absolute;
	top: 50%;
	right: -12px;
	font-size: 12px;
	transform: translateY(-50%);
	color: #aaa;
}

.menu-item:last-of-type:after {
	content: '';
}

.link-item {
	text-decoration: none;
	color: black;
}

.nav-menu>li#active>a {
	color: saddlebrown;
}

.article-head {
	padding: 20px;
	text-align: center;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	font-family: 'Merriweather', serif;
	text-transform: capitalize;
	font-weight: 300;
}

.toms {
	font-family: 'Merriweather', serif;
	font-size: 15px;
	margin: 5px;
	color: black;
}

.image-h {
	width: 800px;
	height: 450px;
	margin: 50px;
	border: 1px solid lightgrey;
	padding: 5px;
	box-shadow: 0 10px 6px -6px lightgrey;
}

.webpage__em1 {
	margin: 300px;
}

.webpage-em {
	margin: 40px;
	padding: 1px;
}

.webpage-heading {
	display: inline-block;
	margin: 5px;
}

.furniture {
	display: inline-block;
}

.furniture__list__item {
	float: left;
	width: 270px;
	margin-left: 15px;
	padding: 5px;
}

.clearfix::after
.clearfix::before {
	content: " ";
	display: block;
	clear: both;
}

.image-f {
	border: 1px solid lightgrey;
	padding: 5px;
	box-shadow: 0 10px 6px -6px lightgrey;
}

.workshop {
	display: inline-block;
}

.workshop__head {
	color: saddlebrown;
}

.workshop__des {
	margin-left: 30px;
	float: left;
	width: 475px;
	height: 260px;
	line-height: 1.5;
	padding: 8px;
	font-family: 'Merriweather', serif;
	text-align: justify;
}

.furniture__work {
	display: inline-block;
}

.furniture__heading1 {
	color: saddlebrown;
	margin: 10px;
}

.furniture__container {
	float: right;
	width: 350px;
	height: 250px;
	margin: 10px;
}

.furniture__table,
.table__heading,
.table__attributes {
	border: 1px solid lightgrey;
	border-collapse: collapse;
	padding: 8px;
	margin: 8px;
	font-family: 'Merriweather', serif
}

.subscribe1__name {
	width: 200px;
	margin: 5px;
	border-radius: 5px;
	padding: 12px;
	margin-right: 50px;
	height: 19px;
	display: block;
	border: 1px solid wheat;
}

.subscribe1__email {
	width: 200px;
	margin: 5px;
	border-radius: 5px;
	padding: 12px;
	margin-right: 50px;
	height: 19px;
	display: block;
	border: 1px solid wheat;
}

.subscribe1__verify {
	width: 200px;
	margin: 5px;
	border-radius: 5px;
	padding: 12px;
	margin-right: 50px;
	height: 19px;
	display: block;
	border: 1px solid wheat;
}

.subscribe1__button {
	display: block;
	padding: 5px;
	border-radius: 5px;
	width: 120px;
	background-color: orange;
	border: 1px solid wheat;
}

.subscribe {
	display: inline-block;
}

.subscribe__container {
	float: left;
	width: 530px;
	height: 305px;
	margin: 5px;
	padding: 5px;
}

.subscribe__header1 {
	color: saddlebrown;
}

.subscribe__header2 {
	color: saddlebrown;
	padding: 5px;
}

.subscribe__des {
	padding: 10px;
}

.subscribe1 {
	display: inline-block;
}

.subscribe1__container1 {
	float: right;
	width: 300px;
	height: 310px;
	margin: 5px;
}

.image__s {
	height: 250px;
	width: 500px;
	margin-left: 25px;
	border: 1px solid lightgrey;
	padding: 5px;
	box-shadow: 0 10px 6px -6px lightgrey;
}

footer {
	text-align: center;
}

.webpage__table {
	list-style: none;
}

.webpage__link {
	color: black;
	text-decoration: none;
	text-transform: capitalize;
	margin: 5px;
	padding: 5px;
}

.webpage__divide {
	display: inline-block;
	border-right: 1px solid black;
}

p {
	text-align: justify;
}

.table__heading {
	background-color: whitesmoke;
}